
/*------------------Formats the columns/rows-----------------*/
/*--Credit Due: https://www.w3schools.com/css/css_rwd_mediaqueries.asp--*/
 
* {
  box-sizing: border-box;
  }

[class*="col-"] {
                float: left;
                padding: 15px;   
                }

.row::after {
            content: "";
            clear: both;
            display: table;
            }


/*----------------------------Overall Page------------------*/

/*Formats all the h1 text*/
h1{
   text-align:center;
   background-color:#FFFFFF;
   padding-top:20px;
   padding-bottom:0px;
   position:static;
   border-bottom:solid;
   border-bottom:thin;
   }
   
h1:after
    {
    content:' ';
    display:block;
    border:solid;
    border-width:thin;
    margin-top:10px;
}

/*Formats all the h3 text*/
h3{
   font-style:italic;
   }

/*Formats the body of the webpage section*/
body {
     font-family: 'Montserrat', sans-serif;
     font-weight: 800;

     background-color:#FFFFFF;
     max-width:960px;
     } 

/*Formats the links so that the text remains blue*/
a:link, a:visited {
    		  color: blue;
	   	  }
 


/*----------------------------Navigation Bar------------------*/   
/*Formats the  bar*/

.menu{
      width:100%;

      }

.menu a {
  float:left;
  display: block;
}

.menu ul {
       overflow:hidden;
       list-style-type: none;
       overflow: hidden;
       text-align:center;
       margin-right:auto;
       background-color:white;
       width:100%;
       position:fixed;
       padding-left:0;   
       }
       

.menu ul li a {
            display: block;
            color: black;
            text-decoration: none;
            padding-right:25px;
            padding-top:15px;
            padding-bottom:15px;
   
            
            }


/*Changes the text color of the navigation bar on hover*/
.menu ul li a:hover{
	              color:#D3D3D3;
                  }
            
/*----------------------------About Section------------------*/   
/*Formats the about section*/
#about{
       margin-top:50px;
       border:solid;
       border-width: thin;
       text-align:center; 
       background-color:#EFEFEF; 
       }  
  

/*----------------------------Work Section------------------*/   

/*Formats the images to be responsive*/
#image{   
       width:100%;
       padding-bottom:20px;
       
      }

#profile-image{   
       width:100%;
       border:solid;
       border-width:thin;
       margin-top:20px;
       height:auto;
      }

/*Places a line underneath the work section*/
#work{
      border:solid;
      border-width: thin;
      background-color:#EFEFEF;
      margin-top:50px;
      }

/*----------------------------Contact Section------------------*/               
#contact{
        border:solid;
        border-width: thin;
        margin-top:50px;
        background-color:#EFEFEF; 
	    }
         
         
#overall-objective{
                   margin-top:50px;
                   background-color:#EFEFEF;
                   }
                   
#overall-objective h2{
                      padding-top:50px;
                      }
#tasks-completed{
                 background-color:#EFEFEF;
                }
#design-result{
               background-color:#EFEFEF;
              }      
 
/*----------------------------Footer Section------------------*/      
.footer {
        background-color:#d5f5e3;
        border:solid;
        border-width:thin;
        color: black;
        font-size: 12px;
        padding: 10px;
        text-align: center;
        margin-top:50px;
        }

/* style social media icons */
.footer .fa {
	        padding: 10px;
	        font-size: 15px;
	        width: 35px;
	        margin: 5px 2px;
	        text-align: center;
	        text-decoration: none;
	        color: white;
	        background-color: gray;
	        border-radius: 50%;
            }

.footer .fa:hover {
	              opacity: 0.7;
                  }
                  

/* Formats the findings page */ 

/*Formats the navigation bar for the findings page*/                
.findings-menu{
      width:100%;
      }

.findings-menu a {
  float:left;
  display: block;
}

.findings-menu ul {
       overflow:hidden;
       list-style-type: none;
       overflow: hidden;
       text-align:center;
       margin-right:auto;
       background-color:white;
       width:100%;
       padding-left:0;   
       }
       

.findings-menu ul li a {
            display: block;
            color: black;
            text-decoration: none;
            padding-right:25px;
            padding-top:15px;
            padding-bottom:15px;            
            }
.findings-menu ul li a:hover{
	                         color:#D3D3D3;
                             }           
                             
#user-research{
               border-bottom:solid; 
               border-bottom-width:thin;
                }
#user-research h2{
                  padding-top:25px;
                  }

#user-testing{
               border-bottom:solid; 
               border-bottom-width:thin;
                }

.findings{
          background:#efefef;
          border:solid; 
          border-width:thin;
          margin-top:50px;
          }

#findings-image{   
              width:100%;
              margin-top:25px;
              border:solid;
              border-width:thin;
              }

/*------------------------Media Queries------------------*/
/*--Credit Due: https://www.w3schools.com/css/css_rwd_mediaqueries.asp--*/
/*--Modifications made by me (Atrina Pebdani)-------*/

/* Media queries for mobile phones: */
@media screen and (max-width: 600px) {

    .menu ul li{
		        float: none;
                display:inline-block
	            }
    .menu ul li a{
                  padding: 5px;
                  font-size:12px;
                 }
    body{
         margin:0px; 
         min-width:300px;
         border:none;
         }

     #image{
            display: block;
            margin: auto;
            width: 100%;
           }
      p{
        font-size:12px;
       }

}

/* Media queries for tablets */
@media only screen and (min-width: 600px)
and (max-width:768px)
{
    .col-m-1 {
             width: 8.33%;
             }
    .col-m-2 {
             width: 16.66%;
             }
    .col-m-3 {
             width: 25%;
             }
    .col-m-4 {
             width: 33.33%;
             }
    .col-m-5 {
             width: 41.66%;
             }
    .col-m-6 {
             width: 50%;
             }
    .col-m-7 {
             width: 58.33%;
             }
    .col-m-8 {
             width: 66.66%;
             }
    .col-m-9 {
             width: 75%;
             }
    .col-m-10 {
              width: 83.33%;
              }
    .col-m-11 {
              width: 91.66%;
              }
    .col-m-12 {
              width: 100%;
              }
     body{
          max-width:768px;
          margin:auto;
          }
     p{
       font-size:14px;
      }
              

}

/* Media queries desktop */
@media screen and (min-width: 768px){
    .col-1 {
           width: 8.33%;
           }
    .col-2 {
           width: 16.66%;
           }
    .col-3 {
           width: 25%;
           }
    .col-4 {
           width: 33.33%;
           }
    .col-5 {
           width: 41.66%;
           }
    .col-6 {
           width: 50%;
           }
    .col-7 {
           width: 58.33%;
           }
    .col-8 {
           width: 66.66%;
           }
    .col-9 {
           width: 75%;
           }
    .col-10 {
            width: 83.33%;
            }
    .col-11 {
            width: 91.66%;
            }
    .col-12 {
            width: 100%;
            }
            
     body {
	      font-family: 'Montserrat', sans-serif;
	      font-weight:900;
          margin:auto;
          border-width:thick;
     } 
}
